@page "/counter"

<PageTitle>Counter</PageTitle>

@*@foreach(var person in people)
{
    <p>@person.Id - @person.Name</p>
}*@
<p>@people.Id - @people.Name</p>


@code {
    [Inject] Service<PersonModel>? service { get; set; }


    PersonModel people = new();
    //IEnumerable<IPersonModel> people = new List<IPersonModel>();

    protected override async Task OnInitializedAsync()
    {
        people = await service!.GetAsync(1);
    }
}
