@page "/counter"

<PageTitle>Counter</PageTitle>

@foreach(var person in people)
{
    <p>@person.Id - @person.Name</p>
}

<input type="text" @bind-value=nameSearch />
<button @onclick=Search>Search</button>


@code {
    [Inject] Service<PersonModel>? service { get; set; }

    private string nameSearch = string.Empty;

    IEnumerable<PersonModel> people = new List<PersonModel>();

    private async Task Search()
    {
        people = await service!.SearchAsync(nameSearch, 
            pagingOptions: default,
            x => x.Name, 
            x => x.Id); // This won't get searched since the Id property on PersonModel doesn't have [Searchable]
    }
}
